@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
	--main-text-color: #0a0a16;
  --activated-text-color: #e9d2c0;
  --bg-activated: #695e8d;
	--border: #0a0a16;
	--gradient: linear-gradient(-45deg, #e9d2c0, #d0ceba, #488d66, #695e8d, #2b2d5a);

  --font: 'Amatic SC', cursive;
}
body {
  font-family: var(--font);
}