@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
	--main-color: #0a0a16;
  --text-color: #fdfdfd;
	--font: 'Amatic SC', cursive;
	--gradient: linear-gradient(-45deg, #e9d2c0, #d0ceba, #488d66, #695e8d, #2b2d5a);
}